name: documentation

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: write

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - name: Install dependencies
        run: |
          pip install sphinx sphinx_rtd_theme myst_parser
      - name: Sphinx build
        run: |
          mkdir doc
          cd doc
          sphinx-quickstart -q -p ${{ github.event.repository.name }} -a AUVSL -v 1.0 --ext-githubpages --ext-viewcode --ext-coverage --extensions="sphinx.ext.napoleon","myst_parser"
          sed -i '1s/^/import sys\nimport os\nsys.path.append(os.path.abspath(".."))\nsys.path.append(os.path.abspath("../src/"))\n/' ./conf.py
          sed -i 's/alabaster/sphinx_rtd_theme/g' ./conf.py
          cat ./conf.py
          cd ..
          sphinx-apidoc -o doc src
          sphinx-build doc doc/_build
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: doc/_build/
          force_orphan: true
